/* font-family: 'Barlow', sans-serif;
/* 600 */
/* font-family: 'Fraunces', serif;  */
/* 700, 900 */

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "client-testimonials client-testimonials client-testimonials client-testimonials"
    "projects projects projects projects"
    "footer footer footer footer";

  font-size: 1.7rem;
}
/* HEADER */
.header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
  min-height: 75px;
  background-color: rgb(62, 191, 255);
}

.header .menu {
  display: flex;
}

.header .menu li a {
  color: white;
}

.header .menu li {
  margin: 0px 10px;
  padding: 20px 35px;
  transition: 0.3s;
}

.header .menu li:hover {
  border-radius: 50px;
  background-color: skyblue;
}

/* HERO */
.hero {
  grid-area: hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 79vh;
  position: relative;

  background: url("/src/img/desktop/image-header.jpg") center center no-repeat;
  background-size: cover;
}

.hero h1 {
  position: absolute;
  top: 100px;
  color: white;
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
}

/* ABOUT */
.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: white;
}

.about .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding: 20%;
}

.about .item:nth-child(1) h2 {
  color: hsl(231, 10%, 27%);
  font-size: 3rem;
  width: 25rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.about .item p {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: hsl(210, 4%, 67%);
  max-width: 40rem;
}

.about .item:nth-child(1) .btn-know-more {
  font-size: 1.3rem;
  width: 10rem;
  text-align: center;
  color: hsl(231, 10%, 27%);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  align-self: flex-start;
  box-shadow: 0px -8px hsl(51, 100%, 49%) inset;
}

.about .item:nth-child(4) h2 {
  color: hsl(231, 10%, 27%);
  font-size: 3rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  width: 35rem;
}

.about .item:nth-child(4) .btn-know-more {
  font-size: 1.3rem;
  width: 10rem;
  text-align: center;
  color: hsl(231, 10%, 27%);
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  align-self: flex-start;
  box-shadow: 0px -8px hsl(7, 99%, 70%) inset;
}

.about .image {
  width: 100%;
  height: 100%;
}

.about .image.image-egg {
  background: url("/src/img/desktop/image-transform.jpg") center center
    no-repeat;
  background-size: cover;
}

.about .image.image-glass {
  background: url("/src/img/desktop/image-stand-out.jpg") center center
    no-repeat;
  background-size: cover;
}

/* FIX */
/* SERVICES */
.services {
  grid-area: services;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  text-align: center;
}

.services .cherry,
.orange {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.services .cherry h3,
.orange h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(231, 10%, 27%);
  margin-bottom: 20px;
}

.services .cherry p,
.orange p {
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  max-width: 390px;
  margin-bottom: 50px;
  color: hsl(231, 10%, 27%);
}

.services .cherry {
  background: url("/src/img/desktop/image-graphic-design.jpg") center center
    no-repeat;
  background-size: cover;
}

.services .orange {
  background: url("/src/img/desktop/image-photography.jpg") center center
    no-repeat;
  background-size: cover;
}

/* CLIENT-TESTIMONIALS */
.client-testimonials {
  grid-area: client-testimonials;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "client-1 client-2 client-3";
  padding: 10%;
}

.client-testimonials .title {
  grid-area: title;
  text-align: center;
  font-size: 1.5rem;
  color: hsl(210, 4%, 67%);
  font-family: "Fraunces", serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.client-testimonials .image img {
  width: 70px;
  border-radius: 50px;
}

.client-testimonials .image {
  margin-bottom: 50px;
}

.client-testimonials .comment {
  font-size: 1.5rem;
  text-align: center;
  color: hsl(210, 3%, 45%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  max-width: 400px;
  margin-bottom: 80px;
}

.client-testimonials .info {
  text-align: center;
}

.client-testimonials .info h3 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: hsl(231, 10%, 27%);
  margin-bottom: 15px;
}

.client-testimonials .info p {
  font-size: 1.3rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
}

.client-testimonials .client-1 {
  grid-area: client-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-testimonials .client-2 {
  grid-area: client-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-testimonials .client-3 {
  grid-area: client-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PROJECTS */
.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.projects img {
  height: 100%;
}

/* FOOTER */
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 100px 0;
  background-color: hsl(168, 39%, 59%);
}

.footer .footer-logo img {
  width: 150px;
}

.footer .footer-logo {
  margin-bottom: 30px;
}

.footer nav ul {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.footer nav ul li a {
  font-family: "Barlow", sans-serif;
  color: hsl(168, 34%, 41%);
  transition: 0.3s;
}

.footer nav ul li a:hover {
  color: #fff;
}

.footer .social-medias a {
  margin-left: 30px;
}